# AURA Luxury E-Commerce Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection String:
# 1. Local MongoDB:
MONGODB_URI=mongodb://127.0.0.1:27017/aura_ecommerce

# 2. Or MongoDB Atlas Cloud:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/aura_ecommerce?retryWrites=true&w=majority
